.home_container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    overflow: scroll;
}


.post_cards{
    margin:8px 8px 8px 8px;
    align-self: center;
    background-color: #FFFFFE;
    color:#222845;
    border-radius: 8px;
}

.first_post_card{
    margin:12px 8px 8px 8px;
}



